<div *ngIf="quiz" class="quiz-form-wrapper">
  <form [formGroup]="quizForm" (ngSubmit)="onSubmit()" class="quiz-form">

    <div style="display: flex; height:100%">
      <div style="display: flex;flex-direction:column">
        <div>
          <!-- <label for="first-name">Quiz Name</label> -->
          <textarea class="form-control" aria-label="With textarea" formControlName="name"></textarea>
        </div>

        <div style="display: flex;flex-direction: column-reverse;align-items: center;">
          <input type="file" class="file-upload" (change)="onFileSelected($event)">
          <img style="width: 200px;" [src]="this.quizPicture" />
        </div>

        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Dodaj set
          </button>
          <app-button text="Submit"></app-button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="addNewSet()">Novi Set</a></li>
            <li><a class="dropdown-item" (click)="openSetsLibrary()">Set Template</a></li>
          </ul>
        </div>
      </div>


      <div formArrayName="sets" style="height:100%;overflow-y:auto" *ngIf="quiz.sets">

        <div [formGroupName]="setIndex" *ngFor="let quizSetTemplate of sets?.controls; let setIndex=index">
            <div style="display: flex;">
              <app-form-input style="flex: 1;" formControlName="name" placeholder="Ime seta..."></app-form-input>
              <app-button text="Dodaj pitanje iz baze" [onClick]="openQuestionLibraryFlyout"
                [onClickParams]="[setIndex]"></app-button>
              <app-button text="Dodaj novo pitanje" [onClick]="openNewQuestionFormFlyot"></app-button>
              <app-button text="Izbrisi set" [onClick]="removeSet" [onClickParams]="[setIndex]"></app-button>
            </div>
          questions
          <div formGroupName="questions">
            <div *ngFor="let questions of getQuizSetQuestions(setIndex)?.controls; let questionIndex=index">

              <div [formGroupName]="questionIndex">
                <app-form-input placeholder="Question text..." formControlName="text"></app-form-input>
                <div formGroupName="answers" style="display: flex;justify-content: space-between;">
                  <div
                    *ngFor="let questions of getQuestionAnswers(setIndex, questionIndex).controls; let answerIndex=index"
                    [formGroupName]="answerIndex" class="answer-form-control input-group">
                    <app-form-input formControlName="text"></app-form-input>
                    Is Correct
                    <input class="form-check-input mt-0" type="checkbox" formControlName="isCorrect">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>