<div *ngIf="quiz" class="quiz-form-wrapper">
  <form [formGroup]="quizForm" (ngSubmit)="onSubmit()" class="quiz-form">

    <div class="quiz-builder-elements">
      <div class="quiz-details" style="display: flex;flex-direction:column">
        <div>
          <!-- <label for="first-name">Quiz Name</label> -->
          <textarea class="form-control" aria-label="With textarea" formControlName="name"></textarea>
        </div>

        <div style="display: flex;flex-direction: column-reverse;align-items: center;">
          <input type="file" class="file-upload" (change)="onFileSelected($event)">
          <img style="width: 200px;" [src]="this.quizPicture" />
        </div>

        <app-dropdown-button text="Dodaj set">
          <span (click)="addNewSet()">Novi Set</span>
          <span (click)="openSetsLibrary()">Iz baze setova</span>
        </app-dropdown-button>
        
        <app-button type="submit" text="Submit"></app-button>
      </div>


      <div formArrayName="sets" class="sets" *ngIf="quiz.sets">

        <div style="padding-bottom: 32px;" [formGroupName]="setIndex" *ngFor="let quizSetTemplate of sets?.controls; let setIndex=index">
          <div style="display: flex;">
            <app-form-input style="flex: 1;" formControlName="name" placeholder="Ime seta..."></app-form-input>
            <app-dropdown-button text="Akcije">
              <span (click)="openQuestionLibraryFlyout(setIndex)" >Dodaj pitanje iz baze</span>
              <span (click)="openNewQuestionFormFlyot()" >Dodaj novo pitanje</span>
              <span (click)="removeSet(setIndex)" >Izbrisi set</span>
            </app-dropdown-button>
            <!-- <app-button text="Dodaj pitanje iz baze" [onClick]="openQuestionLibraryFlyout"
              [onClickParams]="[setIndex]"></app-button> -->
            <!-- <app-button text="Dodaj novo pitanje" [onClick]="openNewQuestionFormFlyot"></app-button> -->
            <!-- <app-button text="Izbrisi set" [onClick]="removeSet" [onClickParams]="[setIndex]"></app-button> -->
          </div>
          questions
          <div formGroupName="questions">
            <div *ngFor="let questions of getQuizSetQuestions(setIndex)?.controls; let questionIndex=index">
              <app-expansion-panel [text]="getQuestionsText(setIndex, questionIndex)">
                <div [formGroupName]="questionIndex" style="padding: 8px;">
                  <app-form-input placeholder="Question text..." formControlName="text"></app-form-input>
                  <div formGroupName="answers" style="display: grid ;grid-template-columns: repeat(2, 1fr);">
                    <div
                      *ngFor="let questions of getQuestionAnswers(setIndex, questionIndex).controls; let answerIndex=index"
                      [formGroupName]="answerIndex" style="display: flex;justify-content: center;">
                      <app-form-input formControlName="text"></app-form-input>
                      <input class="checkbox" type="checkbox" formControlName="isCorrect">
                    </div>
                  </div>
                </div>
              </app-expansion-panel>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>