.quiz-library-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .search{
        display: flex;
        justify-content: center;
    }

    .paginator {
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    .quizz-card-grid {
        flex: 1;
        overflow-y: auto;
    }
}