<div class="sets-library-wrapper">
    <div class="search">
        <div>
            <app-input placeholder="Trazi po imenu seta"></app-input>
        </div>
        <app-button *ngIf="!canSelect" text="+ Novi set" [onClick]="openSetFormFlyout"
            [onClickParams]="[0]"></app-button>

    </div>

    <div class="sets-view card-grid">
        <div class="" *ngFor="let item of currentViewItems">
            <app-card>
                <app-set-card (click)="openSetFormFlyout(item.id)" class="set-card" [set]="item"></app-set-card>
                <div class="justify-content-center" style="background-color: white;">
                    <input style="position: relative; display:none" *ngIf="canSelect" type="checkbox" class="btn-check"
                        autocomplete="off">
                    <label *ngIf="canSelect && !isSetSelected(item.id)" class="btn btn-outline-secondary w-100"
                        (click)="addSetToList(item.id)">Dodaj u kviz</label>
                    <h4 style="color: #1962FF;"><i *ngIf="isSetSelected(item.id)" class="bi bi-check-circle-fill"
                            (click)="addSetToList(item.id)"></i></h4>
                </div>
            </app-card>
        </div>
    </div>

    <div class="paginator">
        <app-button [onClick]="previous" [isDisabled]="isFirstPage()" text="Previous"></app-button>
        <app-button [onClick]="next" [isDisabled]="!isNextAvailable()" text="Next"></app-button>
    </div>
</div>