<div style="display: flex;flex:1;height: 100%;">
    <div class="players-list-container">
        <app-players-list class="players-list"></app-players-list>
    </div>

    <div class="game-selection">
        <div class="room-info">
            Room <!--{{name}}--> is created. Room Id is {{_roomId}}. Players can use this Id to connect to room.
        </div>
        <app-quizzes-library *ngIf="!gameHubService.selectedQuiz" #quizzes
            style="overflow-y: auto;"></app-quizzes-library>

        <div *ngIf="gameHubService.selectedQuiz">
            {{gameHubService.selectedQuiz.name}}
            <app-button [onClick]="startGame" text="Pokreni"></app-button>
        </div>
    </div>
</div>