.questions-library {
    height: 100%;
    display: flex;
    flex-direction: column;

    .questions {
        flex: 1;
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(50, max-content);

        .expansion-panel {
            border-radius: 8px;
        }

        .question-container {
            margin-bottom: 10px;

            .question-text {
                padding: 8px;
                border-radius: 4px;
                display: flex;
            }

            .details {
                .answer {
                    flex: 1 0 40%;
                    text-align: center;
                }
            }
        }
    }
}