<div class="questions-library">
    <div class="questions">
        <div *ngFor="let question of currentViewItems; index as i">
            <div class="question-container">
        
                <div class="question-text" >
                    <span *ngIf="canSelect" class="form-check">
                        <input class="form-check-input" type="checkbox" (click)="questionSelectedEvent(question)" >
                    </span>
                    <span (click)="changeQuestionDetailsState(i)" style="flex-grow: 1;">
                        {{question.text}}
                    </span>  
                </div> 
        
                <div class="details question-answers-container" [id]="i" >
                    <div class="answer answer-container" *ngFor="let answer of question.answers">
                        <div class="answer-form-control input-group" >
                            <div class="input-group-text">
                              Is Correct
                              <input class="form-check-input mt-0"  type="checkbox" aria-label="Checkbox for following text input">
                            </div>
                            <input type="text" class="form-control" [value]=answer.text aria-label="Text input with checkbox">
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <app-button text="Previous" [onClick]="previous" [isDisabled]="isFirstPage()"></app-button>
        <app-button text="Next" [onClick]="next" [isDisabled]="!isNextAvailable()"></app-button>
    </div>
</div>

