<div class="questions-library">
    <div class="questions">
        <div style="padding: 8px" *ngFor="let question of currentViewItems; index as i">
            <app-expansion-panel [text]="question.text">
                <div class="question-container">

                    <div class="question-text">
                        <span *ngIf="canSelect" class="form-check">
                            <input class="form-check-input" type="checkbox" (click)="questionSelectedEvent(question)">
                        </span>
                    </div>

                    <div class="details question-answers-container" [id]="i">
                        <div class="answer answer-container" *ngFor="let answer of question.answers">
                            <div style="display: flex;justify-content: center">
                                <app-input [disabled]="true"  [value]="answer.text"></app-input>
                                <div style="display: flex;align-items: center;">
                                    <input disabled class="checkbox" [checked]="answer.isCorrect" type="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-expansion-panel>
        </div>
    </div>
    <div class="paginator">
        <app-button text="Previous" [onClick]="previous" [isDisabled]="isFirstPage()"></app-button>
        <app-button text="Next" [onClick]="next" [isDisabled]="!isNextAvailable()"></app-button>
    </div>
</div>