<div class="row g-0 shadow p-3 bg-white rounded">
  <div class="col-md-2">
    <img style="width: 120px;" src="/assets/media/quiz-placeholder.jpg" class="img-fluid rounded-start" alt="/assets/media/quiz-placeholder.jpg">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title">{{set.name}}</h5>
      <p class="card-text">{{set.description}}</p>
      <p class="card-text"><a class="link-secondary">Broj pitanja : {{set.questions.length}}</a></p>
    </div>
  </div>
</div>

