<div class="navigation-container">
    <a class="nav-item" routerLink="">Igraj kviz</a>
    <a class="nav-item" routerLink="/host" routerLinkActive="active">Pokreni igru</a>
    <a class="nav-item web-only" routerLink="/quiz-builder" routerLinkActive="active">Napravi kviz</a>
    <a class="nav-item web-only" routerLink="/quizzes-library" routerLinkActive="active">Baza kvizeva</a>
    <a class="nav-item web-only" routerLink="/sets-library" routerLinkActive="active">Baza Setova</a>
    <a class="nav-item web-only" routerLink="/questions-library" routerLinkActive="active">Baza Pitanja</a>
    <a class="nav-item" routerLink="/login" routerLinkActive="active">Login</a>
</div>
