<div *ngIf="!_roomId" class="flex-center-column no-room">
    <div class="single-column-form create-room-form-wrapper" style="height: auto;max-width: 500px;">
        <app-form-input [formControl]="roomName" placeholder="ID Sobe"></app-form-input>
        <app-button text="Stvori sobu" [onClick]="reconnectIfPossibleAndCreateGameRoom"></app-button>
    </div>

    <div class="reconnect-possibilites-options" >
        <div *ngIf="reconnectPossibleToRooms && reconnectPossibleToRooms.length > 0" class="reconnect-possibilites-title">Aktivne Sobe</div>
        <div class="double-column-grid reconnect-possibilites-rooms">
            <app-card *ngFor="let room of reconnectPossibleToRooms" (click)="reconnectToRoom(room.id)" class="app-card">
                <div>
                    <div class="game-picture-container">
                        <img style="width: 120px;" src="/assets/media/quiz-placeholder.jpg" class="img-fluid rounded-start" alt="/assets/media/quiz-placeholder.jpg">
                    </div>
                    <div>
                        ime sobe : {{room.name}}
                    </div>
                </div>
            </app-card>
        </div>
    </div>
</div>

<div *ngIf="_roomId" class="room-selected">
    <div class="room-info">
        Room {{name}} is created. Room Id is {{_roomId}}. Players can use this Id to connect to room.
    <ul>
        <li *ngFor="let player of playersInRoom">
            {{player}}
        </li>
    </ul>
    </div>

    <div class="game-selection">
        <app-quizzes-library *ngIf="!selectedQuiz" #quizzes></app-quizzes-library>

        <div *ngIf="selectedQuiz">
            {{selectedQuiz.name}}
            <app-button [onClick]="startGame" text="Pokreni"></app-button>
        </div>
    </div>
</div>

<app-loader [isVisible]="isLoading"></app-loader>